---
import Layout from "@layouts/Layout.astro";
import works from "@data/works.json";
import { HeaderNav } from "@components/HeaderNav";
import { CardWorkToLeft, CardWorkToRight } from "@components/CardWork";
import { LinkSocial, LinkArrow } from "@components/Link";
import { About } from "@components/About";
import { IconGithub, IconLinkedin } from "@components/Icons";
import { Contact } from "@components/Contact";
import { Footer } from "@components/Footer";

const pinWorks = [...works].filter(
	(work) =>
		(work.language === "en" && work.title === "Cyberpunk Edgerunners") ||
		(work.language === "en" && work.title === "Tic Tac Toe") ||
		(work.language === "en" && work.title === "GitHub User Search")
);
---

<Layout title="Daniel Cordero">
	<HeaderNav client:load />
	<main class="px-6 text-start relative overflow-hidden md:px-10">
		<section
			id="home"
			class="min-h-screen max-w-5xl mx-auto py-10 flex flex-col place-content-center"
		>
			<h1 class="font-heading font-bold text-4xl text-color-4 sm:text-5xl lg:text-6xl">
				Daniel Cordero
			</h1>
			<h2 class="font-heading font-bold pt-3 text-4xl sm:text-5xl lg:text-6xl">
				Frontend Developer
			</h2>
			<p class="pt-8 text-lg max-w-screen-sm">
				1 year of experience in personal projects.<br />
				Web development with React.<br /> Currently, I focus on building projects to learn more.
			</p>
			<div class="pt-8 inline-flex gap-6">
				<LinkSocial href="https://www.linkedin.com/in/daniel-cordero-meléndez/">
					<IconLinkedin fill="#fff" classname="w-12" />
				</LinkSocial>
				<LinkSocial href="https://github.com/dnlambb">
					<IconGithub fill="#fff" classname="w-12" />
				</LinkSocial>
			</div>
		</section>
		<div class="hidden lg:block max-w-md absolute top-3.5 -right-20 select-none opacity-80 -z-10">
			<span class="text-9xl stroke-1 stroke-color-4 text-color-3"> Frontend</span>
			<span class="text-9xl stroke-1 stroke-color-4 text-color-3"> Developer</span>
		</div>
		<div class="hidden lg:block max-w-md absolute top-44 -left-96 select-none opacity-80 -z-10">
			<span class="text-9xl stroke-1 stroke-color-4 text-color-3"> Frontend</span>
			<span class="text-9xl stroke-1 stroke-color-4 text-color-3"> Developer</span>
		</div>
		<section class="m-auto max-w-5xl">
			<h2 class="font-heading font-medium pb-8 text-color-4 text-2xl sm:text-3xl">Some Works</h2>
			<div
				class="w-full flex flex-col items-center pb-8 gap-10 lg:columns-1 lg:flex lg:flex-col lg:gap-20"
			>
				{
					pinWorks.map((article, index) => {
						return index === 1 ? (
							<CardWorkToLeft
								date={article.date}
								title={article.title}
								desc={article.desc}
								tech={article.tech}
								linkRepo={article.urlRepo}
								linkWeb={article.urlWeb}
								img={article.img}
								altImg={article.title}
							/>
						) : (
							<CardWorkToRight
								date={article.date}
								title={article.title}
								desc={article.desc}
								tech={article.tech}
								linkRepo={article.urlRepo}
								linkWeb={article.urlWeb}
								img={article.img}
								altImg={article.title}
							/>
						);
					})
				}
				<LinkArrow href="/works" content="More Works" />
			</div>
		</section>
		<About />
		<Contact />
	</main>
	<Footer />
</Layout>
