---
import Page from "@layouts/Page.astro";
import works from "@data/works.json";
import { CardWorkToLeft, CardWorkToRight } from "@components/CardWork";
import { LinkArrow } from "@components/Link";
import Home from "@layouts/Home.astro";

const pinWorks = [...works].filter(
	(work) =>
		work.title === "Cyberpunk Edgerunners" ||
		work.title === "Tic Tac Toe" ||
		work.title === "GitHub User Search"
);
---

<Page
	lang="es"
	title="Daniel Cordero - @dnlambb"
	desc="Frontend Developer, #Javascript #React"
>
	<Home>
		<Fragment slot="home-section">
			<h1
				class="font-heading font-bold text-4xl text-color-4 sm:text-5xl lg:text-6xl"
			>
				Daniel Cordero
			</h1>
			<h2 class="font-heading font-bold pt-3 text-4xl sm:text-5xl lg:text-6xl">
				Frontend Developer
			</h2>
			<p class="pt-8 text-lg max-w-screen-sm opacity-90">
				1 año de experiencia en proyectos personales.<br />
				Desarrollo Web con React.<br /> Enfocado en construir proyectos y seguir aprendiendo.
			</p>
		</Fragment>

		<Fragment slot="works-section">
			<h2
				class="font-heading font-medium pb-8 text-color-4 text-2xl text-center sm:text-3xl lg:text-start"
			>
				Proyectos Destacados
			</h2>
			<div
				class="w-full flex flex-col items-center pb-8 gap-10 lg:columns-1 lg:flex lg:flex-col lg:gap-20"
			>
				{
					pinWorks.map((article, index) => {
						return index === 1 ? (
							<CardWorkToLeft
								date={article.date}
								title={article.title}
								desc={article.desc}
								tech={article.tech}
								linkRepo={article.urlRepo}
								linkWeb={article.urlWeb}
								img={article.img}
								altImg={article.title}
							/>
						) : (
							<CardWorkToRight
								date={article.date}
								title={article.title}
								desc={article.desc}
								tech={article.tech}
								linkRepo={article.urlRepo}
								linkWeb={article.urlWeb}
								img={article.img}
								altImg={article.title}
							/>
						);
					})
				}
				<LinkArrow href="/works" content="Más Proyectos" />
			</div>
		</Fragment>
	</Home>
</Page>
