---
import { HeaderNav } from "@components/HeaderNav";
import { CardWorkSimple } from "@components/CardWork";
import Layout from "@layouts/Layout.astro";
import works from "@data/works.json";
import { Footer } from "@components/Footer";
import { LinkArrow } from "@components/Link";

const enWorks = [...works].filter((work) => work.language === "en");
---

<Layout title="Daniel Cordero - @dnlambb - Works" desc="@dnlambb Works. Frontend Developer, #JavaScript #React">
	<HeaderNav client:load />
	<main class="px-6">
		<section class="py-10">
			<h1 class="font-heading pb-2 text-3xl sm:text-4xl text-center text-color-4">Works</h1>
		</section>
		<section class="w-full max-w-6xl mx-auto pb-20 columns-1 md:columns-2">
			{
				enWorks.map((article) => {
					return (
						<CardWorkSimple
							date={article.date}
							title={article.title}
							desc={article.desc}
							tech={article.tech}
							linkRepo={article.urlRepo}
							linkWeb={article.urlWeb}
						/>
					);
				})
			}
		</section>
		<LinkArrow href="https://github.com/dnlambb?tab=repositories" content="All Works" />
	</main>
	<Footer />
</Layout>
